<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" package="com.android.provision" platformBuildVersionCode="25" platformBuildVersionName="7.1.2">
    <original-package android:name="com.android.provision"/>
    <permission android:name="android.provision.permission.SEND_PROVISION_COMPLETE_BROADCAST" android:protectionLevel="signatureOrSystem"/>
    <protected-broadcast android:name="android.provision.action.PROVISION_START"/>
    <protected-broadcast android:name="android.provision.action.PROVISION_COMPLETE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="miui.os.permisson.INIT_MIUI_ENVIRONMENT"/>
    <uses-permission android:name="android.provision.permission.SEND_PROVISION_COMPLETE_BROADCAST"/>
    <uses-permission android:name="miui.permission.USE_INTERNAL_GENERAL_API"/>
    <uses-permission android:name="android.permission.SHUTDOWN"/>
    <application android:label="@string/app_name" android:name="ProvisionApplication" android:supportsRtl="true" android:theme="@style/Theme">
        <uses-library android:name="miui-stat.jar"/>
        <meta-data android:name="notch.config" android:value="portrait"/>
        <meta-data android:name="android.max_aspect" android:value="2.2"/>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:name=".activities.DefaultActivity" android:screenOrientation="portrait">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:name=".activities.LanguagePickerActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:name=".activities.InputMethodActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:exported="true" android:name=".activities.SimCardDetectionActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:name=".activities.MultiSimSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:name=".activities.OtherSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:name=".activities.CMTermsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:name=".activities.CongratulationActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:name=".activities.InputMethodLicenseActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:name=".activities.TermsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:launchMode="singleInstance" android:name=".activities.NavigationModePickerActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:name=".activities.LocalePickerActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:name=".activities.PageLayoutActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:name=".activities.GoogleAccountActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:name=".activities.FingerprintActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="locale|fontScale|keyboardHidden|layoutDirection|mcc|mnc" android:excludeFromRecents="true" android:name=".activities.VoiceAssistActivity" android:screenOrientation="portrait"/>
        <receiver android:name="com.android.provision.TimeReceiver">
            <intent-filter>
                <action android:name="com.android.provision.activities.TimeReceiver"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>